<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vessel</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/card-wrapper.css">
    <link rel="stylesheet" href="/static/css/vessel.css">
    <link rel="shortcut icon" href="/static/images/masonry-logo_favicon.png">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
<header>
    <div class="orange-header">
        <nav class="menu">
            <ul>
                <li><a href="console">Console</a></li>
                <li><a href="academy">Academy</a></li>
                <li><a href="sanctuary">Sanctuary</a></li>
                <li><a href="logout">Log out</a></li>
            </ul>
        </nav>
        <div id="title-with-logo">
            <h1><a href="index">MASONRY<br/> SYSTEM</a></h1>
            <img src="/static/images/masonry-logo.png" alt="masonry-logo"/>
        </div>
    </div>
</header>
<main>
    <div class="sub-container">
        <div class="info">
            <h4>
                {{ user.firstName }} {{ user.lastName }}'s Vessel
            </h4>
            <h4>
                Lodge: {{ user.lodge.name }}
                <svg width="24" height="22" viewBox="0 0 45 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M22.0669 0L27.2458 14.9269H44.0049L30.4465 24.1522L35.6253 39.079L22.0669 29.8537L8.50853 39.079L13.6874 24.1522L0.128975 14.9269H16.8881L22.0669 0Z"
                            fill="#FFE60A"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 45 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M22.0669 0L27.2458 14.9269H44.0049L30.4465 24.1522L35.6253 39.079L22.0669 29.8537L8.50853 39.079L13.6874 24.1522L0.128975 14.9269H16.8881L22.0669 0Z"
                            fill="#FFE60A"/>
                </svg>

            </h4>
            <h4>
                Rank: {{ user.rank.getRankString() }}
            </h4>
        </div>
        <div class="triangle-box">
            <div class="purple-triangle">
            </div>
            <div class="shadow-triangle">
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="subpage-footer">
            <div class="triangle-box">
                <div class="purple-triangle">
                </div>
                <div class="shadow-triangle">
                </div>
            </div>
            {% if not (user.rank.getRankString().equals("Ain Soph Aur") or user.rank.getRankString().equals("The Illuminati")) %}
                <div class="vessel-container">
                    <div class="vessel">
                        <div class="sp-logo">
                            <img src="/static/images/eye_of_providence.png" alt="Spirit Points"/>
                        </div>
                        <div class="sp-text">
                            <div class="sp-row1">
                                <span>Spirit Points: </span>
                                <span>{{ user.spiritPoints }}</span>
                            </div>
                            <div class="sp-row2">
                                <span>Total SP Achieved: </span>
                                <span id="total-sp-points">xxx</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="content">

        {% if (artifacts != null) %}
        <div class="content-title">
            <h4>Used Artifacts:</h4>
        </div>
        <div class="cards-wrapper">
            {% for artifact in artifacts %}
                <div class="card">
                    <div class="image-box">
                        <img src="/static/images/illuminati-eye-of-providence-illuminati.png" alt="illuminati-eye"/>
                    </div>
                    <div class="info">
                        <strong>{{ artifact.name }}</strong> <br/>
                        Price: {{ artifact.price }}<br/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if (user.rank.getRankString().equals("The Illuminati")) %}
<ul class="console-options">
    <li><a href="new-apprentice">Add new apprentice</a></li>
    <li><a href="new-quest">Add new quest</a></li>
    <li><a href="new-artifact">Add new artifact</a></li>
</ul>
    }}    {% endif %}



</main>
<footer>
    <div class="red-line">
        <h5>
            Masonry System &copy; 2020 made by Rafal Zawodowiec & Sfora Aleksander
        </h5>
    </div>
</footer>
</body>
</html>